ol, ul, li {
    list-style: none;
}

li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #2544ad;
    display: block;
    outline: 0;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
}